.l-stack-wrap
	.c-stack__arrow-before
		i.font-icons.icon-left-open-big &#xe805;
	.c-stack__arrow-next
		i.font-icons.icon-right-open-big &#xe806;
	.c-stack
		h4="you may also like"
		.c-stack__item-wrap
			.c-stack__item
				a(href="#", target="blank")
					img.c-stack__image(src="images/item-1.jpg", alt="pro gamer slash hoodie")
					.c-stack__item-discount
						span.c-stack__strike-sale.line-through &#36;29.99 					
						span.c-stack__current-price &#36;19.99						
				.c-stack__product-name 
					span="for gamers by gamers tee"
			.c-stack__item
				a(href="#", target="blank")
					img.c-stack__image(src="images/item-2.jpg", alt="pro gamer slash hoodie")
					.c-stack__item-price
						span.c-stack__current-price &#36;22.00						
				.c-stack__product-name
					span="pro gamer slash hoodie"
			.c-stack__item
				a(href="#", target="blank")
					img.c-stack__image(src="images/item-3.jpg", alt="spectroom gamer tee")
					.c-stack__item-price
						span.c-stack__current-price &#36;24.99		
				.c-stack__product-name
					span="spectroom gamer tee"
			.c-stack__item
				a(href="#", target="blank")
					img.c-stack__image(src="images/item-4.jpg", alt="gaming for good tee")
					.c-stack__item-discount
						span.c-stack__strike-sale.line-through &#36;29.99 					
						span.c-stack__current-price &#36;19.99			
				.c-stack__product-name
					span="gaming for good tee"
			.c-stack__item
				a(href="#", target="blank")
					img.c-stack__image(src="images/item-5.jpg", alt="spectroom web hoodie")
					.c-stack__item-price
						span.c-stack__current-price &#36;60.00
				.c-stack__product-name
					span="spectroom web hoodie"
			.c-stack__item
				a(href="#", target="blank")
					img.c-stack__image(src="images/item-6.jpg", alt="spectroom varsity hoodie")
					.c-stack__item-price
						span.c-stack__current-price &#36;54.00
				.c-stack__product-name
					span="spectroom varsity hoodie"
					

